* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 26px;
}

section {
    padding: 30px;
    background-image: url(../img/people.jpg);
    overflow: hidden;
    background-size: cover;
}

.formcontainer {
    max-width: 230px;
    background-color: #FFFFFFBB;
    float: right;
    padding: 20px;
    border-radius: 10px ;
}

h2 {
    font-size: 20px;
    
}

.mb/*margin bottom*/{
    text-align: center;
    margin-bottom: 15px;
}

input,
select {
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input:focus, select:focus{
    outline: 2px solid #48C5CE;
}

.botão {
    background-color: #48C5CE;
    color: white;
    font-weight: bold;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.hp {
    text-align: left;
    margin-left: 40px;
    max-width: 40%;
    display: inline-block;
    color: white;
}

.hp p,
h3 {
    margin-bottom: 20px;
}

.hp h3 {
    font-size: 24px;
}

.imagem {
    width: 160px;
}

@media screen and (max-width:400px) {

    header {
        width: 80%;   
    }

    .title {
        text-align: center;
        position: relative;
        font-size: 15px;
    }

    .formcontainer {
    float: none;
    padding-right: 43px;
    }
    .hp h3 {
        font-size: 15px;
    }    

    .hp {
        font-size: 15px;
        margin: 0;
    }
    .imagem {
        width: 120px;
        float: left;
        padding-top:40px ;
    }
}