* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    width: 1000px;
    margin: auto;
}
header {
    background-color: rgb(160, 160, 248);
    padding: 10px;
}
.logo {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
input, select {
    box-sizing: border-box;
    border: none;
    padding: 5px;
}
.login {
    background-color:#FFFFFFBB;
    padding: 15px;
    position: relative;
    width: 300px;
    height: 480px;
    float: right;
    margin: 18px;
}
.titulo {
    padding: 12px;
    padding-left: 15px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.frase {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}
.nome {
    padding-left: 15px;
    padding-bottom: 16px;
}
.nome-input {
    font-size: 1.2rem;
    padding-right: 30px ;
    padding-top: 6px ;
    padding-bottom: 6px;
}
.email {
    padding-left: 15px;
    padding-bottom: 16px;
}
.email-input {
    font-size: 1.2rem;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.estados {
    padding-left: 15px;
    padding-bottom: 10px;
}
.estados-input {
    padding-left: 5px;
    padding-right: 134px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1rem;
    position: relative;
}
.seta {
    background-image:url(../img/arrow.jpg);
    background-repeat:no-repeat;
    background-position: 99.2%;
    cursor:pointer;

}
.botão {
    padding-left: 15px;
    padding-bottom: 10px;
}
.botão-input {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: rgb(160, 160, 248);
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 6px ;
    padding-top: 6px;
}
