header {
    background-color: rgb(160, 160, 248);
    padding: 1px;
}
.logo {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.login {
    border: 2px solid red;
    width: 300px;
    height: 350px;
    float: right;
    margin: 18px;
}
.titulo {
    padding: 12px;
    padding-left: 15px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.frase {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 1.2rem;
}
